.THIS.slds-page-header{
    background-color:#78071e;
    color: white;
    border-radius: 40px;
}
.THIS .leftPaddingClass {
    padding-left: 2rem;
}
.THIS .pillSize{
    width:100%;
}
.THIS .errorMissingSelected{
    background-color:white;
    color : red;
}
.THIS .dark {
    background-color: #16325c;  
}
.THIS .Mycolor{
    background-color:#78071e;
    color: white;
}